{% load static %}
<nav class="navbar bg-dark">
  {% if user.is_authenticated %}
    <div class="container-fluid">
      <div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'lista_receita' %}">Receita</a></li>
            <li><a class="dropdown-item" href="{% url 'cadastro_despesa' %}">Despesa</a></li>
          </ul>
        </div>
      </div>
      <div>
        <h5 class="text-light">Control Finanças</h5>
      </div>
      <div class="text-light">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user}}
            </a>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
            </ul>
          </div>
          
        </div>
      {% else %}
      <h5 class="text-light">Control Finanças</h5>
        <div class="text-light">
            <a class="btn btn-dark" href="{% url 'login' %}">Entrar</a>
            <a class="btn btn-primary" href="{% url 'cadastro' %}">Cadastrar</a>
        </div>
      
      {% endif %}

    </div>
  </nav>