{% extends 'bases/base.html' %}

{% block title %}
 Remover Despesa
{% endblock title %}

{% block body %}

    <div class="card card-primary ">
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <h4>Tem certeza que deseja excluir a Despesa "{{ despesa.nome }}"?</h4>
                <br/>
                <a href="../" class="btn btn-secondary">Voltar<a/>
                <button type="submit" class="btn btn-danger">
                Remover
                </button>
            </form>
        </div>
    </div>

{% endblock body %}